<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Tutorial</title>
  <meta name="description" content="Codio Blockly">
  <meta name="author" content="Paul">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <% if (isBlockly) { %>
  <script src="<%= libURL %>blockly_compressed.js"></script>
  <script src="<%= libURL %>blocks_compressed.js"></script>
  <script src="<%= libURL %>javascript_compressed.js"></script>
  <script src="<%= libURL %>msg/js/en.js"></script>
  <% } %>
  <% if (isTest) { %>
  <link rel="stylesheet" type="text/css" href="<%= libURLTest %>css/index.css">
  <link rel="stylesheet" type="text/css" href="<%= libURLTest %>swal/sweet-alert.css">
  <script src="<%= libURLTest %>require-dummy.js"></script>
  <script src="<%= libURLTest %>async.js"></script>
  <script src="<%= libURLTest %>jquery-2.1.3.min.js"></script>
  <script src="<%= libURLTest %>jquery-urlparam.js"></script>
  <script src="<%= libURLTest %>jquery-config.js"></script>
  <script src="<%= libURLTest %>swal/sweet-alert.min.js"></script>
  <script src="<%= libURLTest %>event_dispatcher.js"></script>
  <script src="<%= libURLTest %>codio-tutorial.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
  <% } else { %>
  <link rel="stylesheet" type="text/css" href="<%= libURLProd %>css/index.css">
  <script src="<%= libURLProd %>codio-tutorial-bundle.js"></script>
  <% } %>
  <% for(var i in tutorialLibs) { %>
  <script src="<%= libURL %><%= tutorialLibs[i] %>"></script>
  <% } %>
  <% for(var i in tutorialJS) { %>
  <script src="<%= tutorialJS[i] %>"></script>
  <% } %>
  <script>
  var codioTutorialDefinition = <%= tutorialDefinition %>;
  </script>
</head>

<body>
  <div class="main">
    <div id="codePartition" class="partition">
      <div id="codeContainer">
        <div class="labelBox">
          <div class="row header">
            <div id="toolboxLabel">
              <div class="txt label">Toolbox</div>
            </div>
            <div id="instructionsLabel">
              <div class="txt label">Code Instructions</div>
            </div>
          </div>
          <div id="blockly-area">
          </div>
        </div>
        <div id="buttonContainer">
          <div class="buttonPosition">
            <div id="showJS" class="btn btnShow txt" onclick="showBlocklyCodeButtonClick()">Show JavaScript</div>
          </div>
          <div class="buttonPosition">
            <div id="runJS" class="btn btnRun txt" onclick="runBlocklyCodeButtonClick()">Run It!</div>
          </div>
        </div>
      </div>
    </div>
    <div id="contentPartition" class="partition">
      <div id="contentContainer">
        <div class="aligner">
          <div id="content" class="double-border"></div>
        </div>
      </div>
    </div>
  </div>
</body>
